.wp-block-team-member-team-member {
     width : 100%;

     background-color: white;
     padding : 20px;
	.team-member-name{
          border: 1px solid #383838;
     }
     .team-member-bio{
          border: 1px solid #383838;
          
     }
}
