@import "./styles/variables";
@import "./styles/elements";

.wp-block-create-block-team-members {
     display: block;

     @for $i from 1 through 6 {
          .block-editor-inner-blocks {
               .block-editor-block-list__layout {
                    display: flex;
                    flex-wrap: wrap;
                    margin: 8px;
                    margin-left: 0;
                    margin-right: 0;

                    [data-type="team-member/team-member"] {
                         max-width: none;
                         width: calc (100% / #{$i} - 20px);
                    }

                    .block-list-appender {
                         align-self: center;
                         display: flex;
                         align-items: center;
                         justify-content: center;
                         min-height: 100px;
                         width: calc(100% / #{$i} - 20px);
                         position: relative;
                         height: fit-content;
                         margin-left: 10px;
                         margin-bottom: 10px;
                         border: 1px dashed grey;
                         border-radius: 10px;
                    }
               }
          }
     }
}