@import './styles/variables';
@import './styles/elements';

// TEAM MEMBERS
.wp-block-create-block-team-members {

	display: flex;
	flex-wrap: wrap;
	
	&.front-wrapper{
		@for $i from 1 through 6 {
			&.has-#{$i}-columns  
			{
				background-color: #7fff00;
				
				.wp-block-team-member-team-member {
					// This is the Team Member Card
					&.team-member-card{

						background-color: rgb(208, 255, 0);
						width : calc(100% / #{$i} );
					
					}
				}
			}
		}
	}

	&.back-wrapper{
		background-color: rgb(228, 227, 255);
		padding : 20px;
		flex-direction: column;
		.block-editor-inner-blocks{
			width: 100%;
			.wp-block-team-member-team-member {
		
				width : auto;
			
			}
		}
	}

	&.front-wrapper{
		background-color: rgb(228, 152, 11);
		.wp-block-team-member-team-member{
			

		}
	}
}




// TEAM MEMBER
.wp-block-team-member-team-member {
	width : 100%;


     .team-member-bio{

		background-color: antiquewhite;
          
     }
	.team-member-name{

		background-color: antiquewhite;
	}

	//Frontend
	.front-wrapper {

	}

}