@import './styles/variables';
@import './styles/elements';

.wp-block-create-block-team-members {

	background-color: aqua;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;

	.team-members-wrapper {
		@for $i from 1 through 6 {
			&.has-#{$i}-columns {
				width: if($i ==1, 100%, unquote("calc(100%/#{$i})"));
			}
		}
	}

	.editor-wrapper {
		// Add styles that should only be applied in the editor
		padding: 30px;

	}

	.save-wrapper {
		// Add styles that should only be applied on the front of your site


	}

}